<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vpclub.storage.mapper.OrderMapper">
<delete id="deleteByPrimaryKey" parameterType="Integer">
    DELETE FROM mmall_order WHERE id=#{id}
</delete>

    <insert id="insert" parameterType="OrderModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mmall_order (order_no, user_id, shipping_id, payment) VALUES (#{order_no},#{user_id},#{shipping_id},#{payment})
    </insert>

    <insert id="insertSelective" parameterType="OrderModel" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO mmall_order
          <trim prefix="(" suffix=")" suffixOverrides=",">
              <if test="order_no!=null">
                  order_no,
              </if>
              <if test="user_id">
                  user_id,
              </if>
              <if test="shipping_id">
                  shipping_id,
              </if>
              <if test="payment">
                  payment,
              </if>
          </trim>
          <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="order_no!=null">
                  #{order_no},
              </if>
              <if test="user_id">
                  #{user_id},
              </if>
              <if test="shipping_id">
                  #{shipping_id},
              </if>
              <if test="payment">
                  #{payment},
              </if>
          </trim>
    </insert>
    <select id="selectByPrimaryKey" parameterType="Integer">
        SELECT * FROM mmall_order WHERE id=#{id}
    </select>

    <update id="updateByPrimaryKeySelective" parameterType="OrderModel">
        UPDATE mmall_order
        <set>
            <if test="order_no!=null">
                order_no=#{order_no},
            </if>
            <if test="user_id">
                user_id=#{user_id},
            </if>
            <if test="shipping_id">
                shipping_id=#{shipping_id},
            </if>
            <if test="payment">
                payment=#{payment},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="OrderModel">
        UPDATE mmall_order
        SET order_no=#{order_no},user_id=#{user_id},payment=#{payment}
        WHERE id=#{id}
    </update>

    <select id="selectByUserIdAndOrderNo" parameterType="map">
        SELECT * FROM mmall_order WHERE user_id=#{userId} and order_no=#{orderNo}
    </select>

    <select id="selectByOrderNo" parameterType="Integer">
        SELECT * FROM mmall_order WHERE order_no=#{order_no}
    </select>

   <select id="getOrderListByUserId" parameterType="Integer" resultType="OrderModel">
       SELECT * FROM mmall_order WHERE user_id=#{user_id}
   </select>

    <select id="selectAllOrder" resultType="OrderModel">
        select * FROM mmall_order
    </select>
</mapper>